@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@theme {
  --font-sans: var(--font-satoshi);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-satoshi);
  overscroll-behavior: none;
  cursor: none;
}

@media (hover: hover) and (pointer: fine) {
  /* Target everything, including hover states and active states */
  *, *::before, *::after, html, body, a, button, input, select, textarea {
    cursor: none !important; /* !important overrides Tailwind's cursor-pointer */
  }
}