@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@theme {
  --font-sans: var(--font-satoshi);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-satoshi);
  overscroll-behavior: none;
  cursor: none;
}
